.div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.articulo {
    text-align: center;
}

.articulo img {
    max-width: 100%;
    height: auto;
}